/**
 * @ Author: fei.wong
 * @ Create Time: 2020-06-10 09:05:04
 * @ Modified by: fei.wong
 * @ Modified time: 2020-06-10 09:12:25
 * @ Description:
 */

$color-text: #606266;

$color-icon: #8c939d;

$color-link: #f2647c;

